*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#titulo{
    text-align: center;
    background-color: #e1c699;
    color: black;
    padding: 20px;
}

#h2{
    padding: 20px;

}

#lista{
    background-color:#f5d89f ;
    width: 100%;
    list-style-type: none;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

li{
  float: left;
  width: calc(100% / 4);
}
 


#Nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}

#Nav li:hover{
    background-color:#c7af81 ;
    padding: 20px;
   
}

.product-small-img img{ width: 100%; border: 1px; padding: 8px; margin: 10px 10px 15px; cursor: pointer;}

.product-small-img {width: 17%; display: flex;}

.img-container{padding: 10px; width: 45%;} 

#principal{
    width: 400px;
}

#botonComprar{
padding: 20px;
}

.containerButton {
    display:flex;
justify-content: center;
align-items: center;
}